exportPattern("^[[:alpha:]]+");

importFrom('plyr', 'ddply');

importFrom('psych', 'describe', 'omega', 'glb', 'fa', 'principal');
importFrom('pwr', 'pwr.t.test');
importFrom('fBasics', 'adTest');
importFrom('e1071', 'skewness', 'kurtosis');
importFrom('ltm', 'cronbach.alpha');
importFrom('MBESS', 'ci.reliability');

importFrom('foreign', 'read.spss');

importFrom('knitr', 'knit');
importFrom('xtable', 'xtable');

importFrom('ggplot2', 'ggplot', 'theme_grey', 'theme', '%+replace%', 'aes', 'aes_string',
           'geom_line', 'geom_point', 'geom_violin', 'geom_jitter', 'geom_dotplot',
           'geom_pointrange', 'geom_errorbar', 'geom_histogram', 'geom_density',
           'element_line', 'element_rect', 'element_text', 'element_blank',
           'position_jitter', 'position_dodge',
           'stat_summary', 'labs', 'xlab', 'ylab', 'rel');
importFrom('GGally', 'ggpairs', 'getPlot', 'putPlot');
importFrom('grid', 'unit', 'grid.newpage', 'pushViewport', 'viewport', 'grid.layout');

importFrom('lavaan', 'sem');
